img{
    width: 300px;
    height: 300px;
}
:root{
    --purple:#2f192e;
    --purple-light:#30192d;
    --dark-blue:#012677;
    --blue:#5c65c0;
    --skyblue:#005bc5;
    --light-blue:$005bc5;
    --dark-pink:#f64c57;
    --dark-magenta:#e21b5a;
    --light-green:#61e2c2;
    --light-purple:#d9abff;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: poppins,sans-serif;
}

body{
    background: linear-gradient(45deg, var(--purple),var(--purple-light));
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    background: #6c6a6e;
}
.profile-card{
    background: #ffffff11;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    min-height: 400px;
    position: relative;
    color: #4cb0b4;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}